@using SchoolManagement.ViewModel.Subject
@model EditSubjectViewModel
<div class="container">
    <form asp-action="Edit" method="post">
        <div class="row">
            <input hidden asp-for="SubjectId" />
            <div class=" mt-1">
                <label for="YearLevelName"></label>
                <input asp-for="StudentSubject.SubjectName" class="form-control" />
            </div>
            <div class="mt-1">
                <button class="btn btn-success" type="submit" value="submit">Save</button>
            </div>
        </div>
    </form>
</div>